@import url(./media.css);
@import url(./content.css);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 300px;
    margin: 0 auto;
}

.header{
    height: 100vh;
    background-image:url('http://mobidrive.ru/files/pics/50b8925a868110d8cf66b5a680d00dd2.jpg');
    /* background-image:url('./../images/img_bg_2.jpg'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Encode Sans SC', sans-serif;
}

.overly{
    background-color: rgba(39, 80, 141, 0.3);
    height: 100vh;
}

.overlay-top{
    background-color: rgba(0,0,0,0.5);
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    font-size: 24px;
    font-weight:500;
    color: #fff;
}

.menu__burger{
    z-index: 11;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.menu__burger-btn{
    width: 38px;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
}

.menu__burger-btn::before,
.menu__burger-btn::after{
    content:'';
    position: absolute;
    width: 38px;
    height:3px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
}

.menu__burger-btn::before{
    transform: translateY(-10px);
}
.menu__burger-btn::after{
    transform: translateY(10px);
}

.menu__burger.open .menu__burger-btn{
    transform: translateX(-50px);
    background-color: transparent;
    box-shadow: none;
}
.menu__burger.open .menu__burger-btn::before{
    transform: rotate(45deg) translate(35px, -35px)
}

.menu__burger.open .menu__burger-btn::after{
    transform: rotate(-45deg) translate(35px, 35px)
    
}

.header__menu{
    position: absolute;
    z-index: 10;
    top: 0%;
    right: 0%;
    background-color: rgba(0,0,0,0.8);
    padding: 150px 60px;
    height: 100vh;
    width: 100vw;
    display: none;
}

.menu__lists_a{
    display: flex;
    list-style-type: none;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}


/* .header__menu_after{
    top: 0%;
    right: 20%;
    transition: 1s;

} */

.menu__lists{
    list-style-type: none;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}


.menu__lists li + li{
    padding-top: 30px;
    
}

.menu__lists li a{
    text-decoration: none;
    color: #fff   ;
     padding: 10px;
    font-weight: 500;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
}



.menu__lists_a li a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
    font-weight: 500;
    border-bottom: 3px solid transparent;
    transition: .5s;
}



.menu__lists_a li + li{
    padding-left: 25px;
}




a {
  font-size: 18px;
  position: relative;
}
.menu__lists_a li a:hover{
    color: rgba(171, 255, 46);
    font-weight: ;
}
.menu__lists li a:hover{
    color: rgba(171, 255, 46);
}

a:before, a:after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: rgb(171, 255, 46);
}
a:before {
  opacity: 0;
  transform: translateY(-8px);
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
}
a:after {
  opacity: 0;
  transform: translateY(4px);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
}
a:hover:before, a:hover:after, a:focus:before, a:focus:after {
  opacity: 1;
  transform: translateY(0);
}
a:hover:before, a:focus:before {
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
}
a:hover:after, a:focus:after {
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
}

.main__inner{
    background: rgba(0,0,0,0.1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0) ;
    margin: 50px auto;
    padding:  60px 0px ;
    transition: .5s;
}
.main__inner:hover{
    transform: scale(1.1);
}

.main__title h1{
    /* background-image: url('https://www.onlygfx.com/wp-content/uploads/2017/07/green-watercolor-brush-stroke-3-13.png'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-family: 'Encode Sans SC', sans-serif;
    font-size: 45px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    color: #f9f5f5;
}


.main__desc p{
    text-align: center;
    color: #fff;
    font-family: 'Encode Sans SC', sans-serif;
    font-size: 16px;
}

.main__btn{
    color: #fff;
    text-align: center;
    margin-top: 40px;
    background-color: rgba(0, 255, 34, 0.7);
    margin: 40px auto;
    width: 200px;
    padding: 10px ;
    border-radius: 50px;
    font-weight: 700;
    font-size: 18px;
    transition: .2s;
    cursor: pointer;
}

.main__btn:hover,
.main:focus{
    background-color: rgba(0, 255, 34);
    box-shadow: 0px 0 10px aqua;
}